@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
    --color-primary-a0:   #ffffff;
    --color-primary-a10:  #d8f1d1;
    --color-primary-a20:  #afe2a5;
    --color-primary-a30:  #84d278;
    --color-primary-a50:  #52c24a;
    --color-primary-a60:  #408e39;
    --color-primary-a70:  #2e5d29;
    --color-primary-a80:  #1c3019;
    --color-primary-a90:  #000000;
*/

html,
body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: Montserrat;
    font-size: 10px;
    line-height: 4em;

}

h1 {
    font-size: 7em;
    font-weight: 800;
}
h2 {
    font-size: 4em;
    font-weight: 600;
}
h3 {
    font-size: 3.5em;
    font-weight: 500;
}
h4 {
    background-image: linear-gradient(to right, #57ab92 0%, #295d4a 110%);
    background-clip: text;
    color: transparent;
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
}
h5 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
}
h6 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
}
p {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 500;
}

/**NAVEGATION BAR **/

.nav-bar{
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    box-shadow:0px 0px 3px 0px #000000;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.nav-bar h1{
    background-image: linear-gradient(to right, #57ab92 0%, #295d4a 70%);
    background-clip: text;
    color: transparent;
    font-size: 2.5em;
    padding: 10px 10px;
    padding-left: 20px;
    margin: 0;
}
.nav-bar ul{
    margin: 0 auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar a{
    color: black;
    text-decoration: none;
}
.nav-bar-ul li {
    font-size: 1.5em;
    font-weight: 600;
    list-style-type: none;
    text-align: center;
    padding: 0px 30px;
}

/**    HEADER  **/

header {
    background-position: bottom;
    display: flex;
    flex-direction: row;
    padding: 75px 20px;
    gap: 0px 50px;
    justify-content: space-evenly;
}

header h3{
    font-weight: 300;
    font-size: 2.5em;
}

header img{
    width: 400px;
    height: auto;
    align-self: center;
}

.title {
    padding: 100px 0px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}

.title h1{
    background-image: linear-gradient(to right, #57ab92 0%, #295d4a 70%);
    background-clip: text;
    color: transparent;
    margin: 0;
    line-height: 70px;
}

.title h1:hover {
    color: #295d4a;
    transition: color 0.4s;
}



/**      ABOUT ME     **/

#about-me {
    background-color: #f1f9f4;
    padding: 20px;
    padding-bottom: 50px;
}

#about-me p{
    line-height: 2.5em;
    align-self: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row img {
    align-self: center;
    width: 200px;
    border-radius: 100px;
    margin-right: 100px;
    box-shadow: 0px 0px 20px 1px rgb(26, 94, 65) ;/*offx - offy - blur - spread - color*/
}

.container{
    padding: 0px 100px;
}

.container h5{
    display: flex;
    align-self: flex-start;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    /* background-color: #d8f1d1; */
    border-radius: 10px;
    height: 75px;
    width: 200px;
    margin: 0px 20px;
    margin-top: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.201);
}
.skill-container:hover{
    /* background-color: #f4fffb; */
    /* transform: scale(1.01); */
    color:#2aab7c;
    font-size: 1.1rem;
    transition: 0.5s;
}

.skill-container img{
    width: 50px;
    margin-right: 20px;
}

/**    SERVICES     **/
#services {
    /* background-color: rgb(245, 161, 130); */
    padding: 20px;
    margin-bottom: 50px;
}

#services > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 20px;
    gap: 50px;
    margin-bottom: 50px;
}

.services-container div {
    display: flex;
    flex-direction: column;
    /* border: 1px grey solid; */
    /* border-radius: 10px 10px 0px 0px; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.152);
    text-align: center;
    padding: 20px;
    flex:1;
}

.services-container div:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.services-container h5 {
    /* background-color:#2e5d29 ; */
    margin: 0;
    color: black;
    padding: 10px 0px;
    height: 50px;
}

.services-container img {
    border-radius: 10px;
    max-width: 100%;
    align-self: center;
    margin-bottom: 20px;
    /* filter: drop-shadow(3px 3px 5px rgba(5, 255, 134, 0.333)); */
}

.services-container p {
    text-align: justify;
    max-width: 100%;
}

/**     EXPERIENCE     **/
#experience {
    background-color: #f1f9f4;
    padding: 20px;
    padding-bottom: 50px;
}

#experience > div {
    /* background-color: azure; */
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

#experience section {
    /* background-color: aliceblue; */
    flex: 1;
    padding: 40px;
}

#experience h4, h5 {
    text-align: center;
}

#experience h5 img {
    width: 24px;
    position: relative;
    top: 5px;
    padding-right: 20px;
}

.experience-list {
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 60px;
}

.experience-list li::marker{
    content: "";

}

.experience-list li{
    position: relative;
}

.experience-list li::before {
    background: green;
    opacity: 0.5;
    content: "";
    position: absolute;
    z-index: 0;
    top: 10px;
    left: -25px;
    width: 10px;
    height: 100%;
}

.experience-list h6{
    margin: 10px 0px;
    padding-left: 40px;
    text-align: left;

}

.experience-list > li {
    margin: 20px 0px;
    
}

.experience-list li div:last-child {
    display: flex;
}


.experience-list img{
    width: 75px;
    align-self: center;
    padding: 30px;
    margin-right: 20px;
}

.experience-list p{
    color: rgb(82, 82, 82);
    margin: 10px 0px;
    line-height: 1.2;
}

.experience-list p:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}

.company-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
    padding-right: 20px;
}

/**    CONTACT **/

#contact {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 100px;
    position: relative;
    background-color: #295d51;
    /* background-image: url(img/background-leaf.jpg); */
    background-size: cover;
}

#contact h6 {
    color: #d8f1d1;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 0px;
    text-transform: uppercase;
}

#contact section:first-child{
    flex:1;
    padding: 40px;

    /*border-radius: 15px 225px 255px 15px;
    border:#295d51 4px solid; */
    /* border-bottom-right-radius: 15px 255px;
    border-bottom-left-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px; */
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#contact form *{
    margin: 10px 0px;
}

#contact button {
    width: 100px;
    height: 40px;
    align-self: flex-end;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

input, textarea {
    color: white;
    /* border: 0.5px white solid; */
    border-radius: 5px;
    min-height: 30px;
    margin: 0;
    background-color: #0000004f;
    padding-left: 10px;
    font-family: 'Montserrat';
}

input::placeholder ,textarea::placeholder {
    color: white;
    font-family: 'Montserrat';
    padding-left: 10px;
}

#contact-bar {
    position: fixed;
    height: 200px;
    padding: 5px 10px;
    top: 80%;
    right: 20px;
    z-index: 999;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 4px solid #295d4a;
}

#contact-bar img {
    width: 32px;
    height: auto;
}

hr {
    margin: 0px;
    border:#295d4a 10px solid;
}

.buttonContact {
    background-color: #c1f5d8;
    border:#2e5d29 0px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    color:#2e5d29;
    cursor: pointer;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #c1f5d8;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border:#2e5d29 2px solid;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color:#2e5d29;
  cursor: pointer;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.button-55:hover {
  /* box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px; */
  transform: scale(1.2) rotateZ(-2deg);
  transition: 0.2s;
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}